{% extends 'base.html' %}


{% block content %}
<div class="wrapper">
        <div class="logo">
            <img src="https://www.freepnglogos.com/uploads/shopee-logo-png/shopee-logo--24.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            Shop
        </div>
        <form class="p-3 mt-3" method="post">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" id="userName" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="email" name="email" id="userName" placeholder="E-mail">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password1" id="pwd" placeholder="Password">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password2" id="pwd2" placeholder="Password2">
            </div>
            {{ form.errors}}
            <button class="btn mt-3" >Register</button>
        </form>
    </div>
{% endblock %}
